html, body
{
text-align: center;
  height: 50%;
  margin: 50%;
  float: none;
  background: mediumaquamarine;
  font-style: bold ;
}

body
{
background: mediumaquamarine;
}


.login_div
{
    background: darkcyan;
    padding: 10px;
    float: none;
    border-radius: 15px;
    border-color: darkcyan;
}


#login_button
{
	width: 80%;border-radius: 15px;
}

#user_name

{

background: lightgreen;
float: none;
width: 50%;

}